html, body {
    margin: 0;
    background-color: antiquewhite;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 24px 24px;
    justify-content: center;
}

.grid-item {
    padding-top:  8px;
    background-color: rgb(219, 199, 175);
    display: inline-grid;
    gap : 24px 24px;
    justify-items: center;
    overflow-x:scroll ;
}

.title { 
    margin: 24px;
    text-align: center;
}

a { 
    font-size: large;
}

.info-container {
    margin: 4px;
}